/*--------------------------------------------------------------
	About page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#4.0	fun-fact-s2
--------------------------------------------------------------*/
.fun-fact-s2 {
	.circle-data {
		background-color: transparentize($theme-primary-color, 0.5);
		border: 2px solid $theme-primary-color;

		span {
			color: $white;
		}
	}
}